 body{display: flex;
       justify-content: center;
       align-items: center;
       min-height: 100%;
       background:rgb(6, 16, 17);
  }
  .clock{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border:6px solid rgb(214, 246, 250);
    border-radius:50%;
    margin:100px auto;
    position: relative;
    padding:20px;
    box-shadow: 0px 0px 55px 3px rgba(229, 228, 248, 0.48)
  }
  .clock::before{
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      background:rgb(119, 172, 179);
      border-radius: 50%;
      z-index: 2;
  }
  .clock .hour,
  .clock .min,
  .clock .sec{
      position: absolute;
  }
  .clock .hour, .hr{
      width: 160px;
      height: 160px;
  }
  .clock .min, .mn{
    width: 190px;
    height: 190px;
}
.clock .sec, .sc{
    width: 230px;
    height: 230px;
}
.hr, .mn, .sc{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}
.hr:before{
    content: "";
    position: absolute;
    width: 8px;
    height: 80px;
    background:rgb(214, 246, 250);
    z-index: 1;
    border-radius: 6px 6px 0px 0px;
}
.mn:before{
    content: "";
    position: absolute;
    width: 4px;
    height: 90px;
    background:rgb(119, 172, 179);
    z-index: 1;
    border-radius: 6px 6px 0px 0px;
}
.sc:before{
    content: "";
    position: absolute;
    width: 2px;
    height: 150px;
    background:rgb(119, 172, 179);
    z-index: 3;
    border-radius: 6px 6px 0px 0px;
}